<ion-view title="Upcoming Launches">

    <ion-nav-bar class="bar-positive">
    </ion-nav-bar>
    <ion-content overflow-scroll="true" padding="true" class="has-header" style="background: url(img/ZDjsWQ5PSRCR3WEBt5BN_HD-Blue-Galaxy-Wallpaper-for-Desktop.jpg) no-repeat center;background-size:cover;">
        <ion-list id="list-list2" class="bar-positive">

            <head>
                <script src="timing.js"></script>
            </head>

            <body>
                <ion-item class="item-avatar" id="list-list-item4" ng-repeat="launch in launches" ui-sref="launch({id:launch.id})">
                    <img src="{{launch.img}}">
                    <div>
                        <h2>Launch: {{launch.name}}</h2>
                        <div ng-controller="TimingCtrl">
                            <p>T-{{ CountDown.days }} Days {{ CountDown.hours }}:{{ CountDown.minutes}}:{{ CountDown.seconds
                                }}
                            </p>
                        </div>
                    </div>

                </ion-item>
                <img src="img/jhuapl.jpg" height="60" width="60" style="position: absolute; bottom: -35px; right: 0px"></img>
            </body>
            <p style="color:white; font-size=16px">Created by Samuel Chan under the mentorship of Chris Krupiarz</p>
            
        </ion-list>
    </ion-content>
</ion-view>