<ion-view title="Welcome!">
    <ion-nav-bar class="bar-royal">
        <ion-nav-title>Welcome!</ion-nav-title>
    </ion-nav-bar>


    <ion-content overflow-scroll="true" padding="true" class="has-header" style="background: url(img/planets.jpg) no-repeat center;background-size:cover;">
        <img src="img/apl.jpg" style="position: absolute; bottom: 0px; right: 0px" height="40" width="170"></img>

        <img src="img/aspire.jpg" style="position: absolute; bottom: 0px; left: 0px" height="40" width="40"></img>
    </ion-content>
</ion-view>